kbd {
  color: white;
  background-color: red;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
