---
import Hero from "@/components/astro/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Featured from "@/components/astro/Featured.astro";
import ResourcesGrid from "@/components/astro/ResourcesGrid.astro";
---

<Layout>
	<div id="container">
		<Hero />
	</div>
</Layout>
